:root { 
    --font-base: #252525;
}

html {
    color: var(--font-base);
}
body { 
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #DFDEDE;
}
.navbar-content {
    display: flex;
}
#logo-home {
    font-size: 2em;
    text-decoration: none;
}
.nav-link {
    padding: 20px;
    text-decoration: none;
}
