:root { 
    --base: #0c2340;
    --accent-green: #004C54;
    --accent-gray: #dfdede;
    --font-lightGray: #3e3e3e;
    --font-baseWhite: #e3e3e3;
    --font-lightBlue: #67a8fd;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--base);
    color: var(--font-baseWhite);
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

section {
    /* scroll-padding-top: 40px; */
    scroll-margin-top: 80px;
}

h2 {
    font-size: 1.8rem;
    color: var(--accent-green);
}

p {
    font-size: 1.05rem;
}

a {
    text-decoration: none;
}
a:link, a:active, a:hover, a:visited {
    color: var(--font-lightBlue);
}

#navbar {
    background-color: var(--accent-gray);
    width: 100%;
}
.navbar-content {
    display: flex;
}

#logo-home {
    font-size: 2em;
    padding: 10px;
}
#logo-home:link, #logo-home:visited {
    color: var(--font-lightGray);
}

.nav-link {
    padding: 20px;
}
.nav-link:link, .nav-link:visited {
    color: var(--font-lightGray);
}
.nav-link:active, .nav-link:hover {
    color: var(--font-lightBlue);
}

#atf {
    max-width: 1000px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 48px;
    padding: 120px 100px;
    border: 2px solid red;
}
.intro-heading {
    text-align: left;
    font-size: 2rem;
}

.scroll-container {
    display: flex;
    justify-content: center;
}
.gallery-image {
    margin: 5px 15px;
}

.body-section {
    border: 2px solid red;
    margin: 48px;
    padding: 10px;
}

.body-link:hover, .project-link:hover {
    text-decoration: underline;
}

.about-content-container {
    margin-top: 50px;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
    margin: 50px 0;
}
.work-content-container {
    margin-bottom: 18px;
}
.work-content-card {
    border: 2px solid red;
    margin: 16px 0;
    padding: 12px;
    text-align: center;
}

.featured {
    font-size: 22px;
}
.project-copy {
    text-align: left;
}
.tech-list {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;    
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    border: 2px solid red;
}

.external {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.external-link {
    padding: 12px;
    border: 3px solid var(--accent-green);
    border-radius: 4px;
}
.external-link:hover {
    background-color: var(--accent-green);
    border-color: black;
}

.contact-container {
    margin: 40px 0px 18px 0px;
}
#email-link {
    padding: 8px;
}
